.practical-banner {
    background-color: #0F172A;
    /* Slate 900 */
}

.practical-sidebar .sidebar-title {
    border-bottom-color: var(--color-primary);
}

.practical-sidebar .sidebar-nav a:hover {
    color: var(--color-primary);
    border-left-color: var(--color-primary);
    background-color: rgba(6, 78, 59, 0.05);
}

.pt-3 {
    padding-top: var(--space-4);
}